

label {
  font-weight: bold;
}

button {
  background-color: #af8c4c; /* Colore del tasto */
}

button:hover {
  background-color: #afa04c;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.bt{
    border-top: #808080 1px solid;
}

.br{
    border-right: #808080 1px solid;
}

.bb{
    border-bottom: #808080 1px solid;
}   
.bl{
    border-left: #808080 1px solid;
}