{% extends "base.html" %}

{% block content %}
    <h1>Guestbook</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="padding-small">
        {% for message in messages %}
        <li class="alert alert-warning">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>Messaggi</h2>
    <div class="border padding child-borders">
        {% for message in messages %}
        <div class="card padding.small margin-bottom">
            <div class="card-body">
                <span>
                    <strong>{{ message.name }}</strong>
                    <small class="float-right">{{ message.created_at }}</small>
                </span>
                <p class="card-text">{{ message.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Aggiungi Messaggio</h2>
    <form method="POST" class="border border-3 padding">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="message">Messaggio:</label>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Invia Messaggio</button>
    </form>

{% endblock %}