<!DOCTYPE html>
<html>

<head>
    <title>Guestbook</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>Guestbook</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2>Messaggi</h2>
    <ul>
        {% for message in messages %}
        <li class="bb">
            <span>
                <strong>{{ message.name }}</strong>
                <small class="float-right">{{ message.created_at }}</small>
            </span>
            <p>{{ message.message }}</p>
        </li>
        {% endfor %}
    </ul>

    <h2>Aggiungi Messaggio</h2>
    <form method="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="message">Messaggio:</label>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Invia Messaggio</button>
    </form>

</body>

</html>